# Dependencies
node_modules/

# Production build output
dist/
dist-ssr/

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
